@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">LMS with SCORM</h1><br />
        <p>Implementation of the SCORM 1.2 standard (with some support for SCORM 2004).</p>
        <p>It gives the ability to upload SCORM packages, play the courses in the built-in SCORM Player, and track results by student.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <h2>How to use this application:</h2>
        <ul>
            <li>Use as a base to build your own in-house LMS</li>
            <li>Use for educational purposes to learn how SCORM works</li>
            <li>Use to build your own SCORM Cloud</li>
            <li>By hosting your own site, you can avoid paying licensing fees to the big SCORM vendors</li>            
        </ul>
    </div>
</div>
