@page
@model OpenSourceSCORMLMS.Pages.UploadFileModel
@{
    ViewData["Title"] = "Upload";
}

<style>
    .dropDiv {
        width: 500px;
        height: 300px;
        border: solid;
        border-color: blue;
        border-width: 4;
    }
</style>
<link href="~/js/dropzone/dropzone.min.css" rel="stylesheet" />
<h1>SCORM Package Upload</h1>
<div class="row">
    <div class="col-md-9">
        <div id="dropzone">
            <form method="post" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="uploader">
                <div class="dz-message needsclick dropDiv">
                    Drop SCORM packages (in zip files) here or click to upload.
                    <br>
                    After uploading, your package will launch in a separate window.
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        Dropzone.options.uploader = {
            paramName: "file",
            url: "/UploadFile",
            maxFilesize: 2000,
            acceptedFiles: ".zip",

            dictInvalidFileType: "Please upload only SCORM packages in .zip format",
            success: function (file, response) {
                $(".dz-success-mark svg").css("background", "green");
                $(".dz-error-mark").css("display", "none");
                
                window.location.href = response.Url;
            },
            error: function (file, response) {
                $(".dz-error-mark svg").css("background", "red");
                $(".dz-success-mark").css("display", "none");
            }
        };
        $('#uploader').dropzone();
    </script>
}