@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCORM_LMS</title>
    <link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg py-md-2 bg-light">
            <a class="navbar-brand" asp-page="/Index">SCORM_LMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item py-md-2"><a asp-page="/Index" class="nav-link">Home</a></li>
                        <li class="nav-item py-md-2"><a asp-page="/UploadFile" class="nav-link">Upload SCORM Package</a></li>
                        <li class="nav-item py-md-2"><a asp-page="MyCoursesForStudy" class="nav-link">My Courses for Study</a></li>
                        <li class="nav-item py-md-2"><a asp-page="/PackageListing" class="nav-link">All Courses</a></li>
                    }
                    else
                    {
                        <li class="nav-item py-md-2"><a asp-page="/Index" class="nav-link">Home</a></li>
                    }
                </ul>
            </div>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
        @* <partial name="_CookieConsentPartial" />*@
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2023 - SCORM_LMS</p>
        </footer>
    </div>
    <div id="scripts">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/popper.min.js"></script>
        <script src="~/lib/jquery/jquery.slim.min.js"></script>
        <script src="~/lib/jquery/jquery.validate.min.js"></script>
        <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js"></script>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
